.land {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  &__container {
    width: 100%;
    max-width: 1660px;
  }
  @media (max-width: 1700px) {
    &__container {
      max-width: 1300px;
    }
  }
  @media (max-width: 1400px) {
    &__container {
      max-width: 1140px;
    }
  }
  @media (max-width: 1199px) {
    &__container {
      max-width: 960px;
    }
  }
  @media (max-width: 991px) {
    &__container {
      max-width: 720px;
    }
  }
  @media (max-width: 991px) {
    &__container {
      max-width: 540px;
      padding: 10px;
    }
  }
}

.land {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 160px 0 0;
    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
      padding: 0 0 0 150px;
    }
    .start {
      position: relative;
      margin: 0 0 150px;
      &__title {
        position: relative;
        font-size: 120px;
        font-weight: 900;
        color: #000000;
        margin: 0 0 50px;
      }
      &__bg {
        border-radius: 0px 0px 60px 0px;
        right: -100px;
        bottom: -70px;
        width: 300%;
        height: 300%;
        position: absolute;
        background: linear-gradient(127.84deg, #F9F9F9 6.94%, #F4F4F4 87.01%);
        overflow: hidden;
        img {
          position: absolute;
          bottom: -1120px;
          right: -276px;
        }
      }
      .counter {
        position: relative;
        margin: 0 0 40px;
        display: flex;
        align-items: center;
        &__item {
          display: flex;
        }
        &__num {
          font-weight: 300;
          font-size: 120px;
          color: $grey;
          font-family: Gilroy;
          font-weight: 300;
        }
        &__label {
          font-weight: 300;
          font-size: 20px;
          line-height: 143.4%;
          text-align: center;
          color: rgba($grey, 0.5);
        }
        &__colon {
          font-family: Gilroy;
          font-weight: 300;
          color: rgba($grey, 0.5);
          font-size: 60px;
          line-height: 143.4%;
          margin: 0 15px;
        }
      }
      .pdf {
        position: relative;
        display: flex;
        justify-content: space-between;
        &__item {
          max-width: 260px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          background: #FFF;
          border-radius: 20px;
          padding: 20px 35px;
          align-items: center;
        }
        &__title {
          color: $grey;
          line-height: 30px;
        }
        &__icon {}
      }
    }
    .prog {
      width: 100%;
      &__line {
        width: 100%;
        height: 24px;
        background: #F7F6F4;
        border-radius: 15px;
        padding: 0 5px;
        display: flex;
        align-items: center;
      }
      &__filling {
        border-radius: 10px;
        background: $yellow;
        height: 14px;
        width: 20%;
      }
      &__points {
        top: -5px;
        position: relative;
        display: flex;
        justify-content: center;
      }
      &__point {
        width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      &__notch {
        width: 1px;
        height: 19px;
        background: $grey;
      }
      &__text {
        font-weight: 500;
        font-size: 16px;
        color: $grey;
      }
    }
    .cards {
      &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        padding: 20px 36px;
        max-width: 625px;
        &_a {
          border: 3px solid $yellow;
        }
        &_b {
          background: $yellow;
          border: 3px solid $grey;
        }
        &_c {
          border: 3px solid $stroke;
        }
      }
      &__line {
        //position: absolute;
        //bottom: 0;
        width: 1px;
        height: 60px;
        &_a {
          background: $yellow;
        }
        &_b {
          background: #F5F3F3;
        }
      }
      &__title {
        font-weight: bold;
        font-size: 30px;
        color: #000000;
      }
      &__sub {
        color: rgba(#54595F, 0.7);
        font-size: 16px;
      }
      &__extra {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        margin: 0 0 10px;
      }
      &__epitaph {
        color: $grey;
        font-weight: normal;
        font-size: 18px;
        max-width: 330px;
        //margin: 0 40px 0 0;
      }
      &__cost {
        font-weight: 800;
        font-size: 60px;
        color: #000000;
      }
      &__left {
        .cards__sub {
          margin: 0 0 20px;
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
  @media (max-width: 1700px) {
    .header {
      //&__left {
      //  width: 60%;
      //}
      //&__right {
      //  width: 40%;
      //}
      //.cards {
      //  text-align: center;
      //  &__item {
      //    flex-direction: column;
      //  }
      //  &__right {
      //    align-items: center;
      //  }
      //  &__left {
      //    margin: 0 0 13px;
      //  }
      //}
      margin: 100px 0 0;
      .cards {
        &__cost {
          font-size: 40px;
        }
        &__epitaph {
          max-width: 280px;
        }
      }
      .prog {

      }
      .start {
        padding: 60px 0;
        &__title {
          font-size: 80px;
        }
        .counter {
          &__num {
            font-size: 80px;
          }
          &__label {
            font-size: 18px;
          }
          &__colon {
            font-size: 36px;
          }
        }
        .pdf {
          &__item {
            padding: 16px 20px;
            max-width: 186px;
          }
        }
      }
    }
  }
  @media (max-width: 1400px) {}
  @media (max-width: 1199px) {}
  @media (max-width: 991px) {}
  @media (max-width: 991px) {}
}



