.land {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  overflow: hidden;
  &__title {
    font-weight: 900;
    color: #000000;
    font-size: 120px;
    line-height: 108.4%;
    white-space: pre-line;
  }
  &__container {
    position: relative;
    width: 100%;
    max-width: 1660px;
  }
  @media (max-width: 1700px) {
    &__container {
      max-width: 1300px;
    }
  }
  @media (max-width: 1400px) {
    &__container {
      max-width: 1140px;
    }
  }
  @media (max-width: 1199px) {
    &__container {
      max-width: 960px;
    }
    &__title {
      font-weight: 900;
      color: #000000;
      font-size: 80px;
      line-height: 108.4%;
    }
  }
  @media (max-width: 991px) {
    &__container {
      max-width: 720px;
    }
  }
  @media (max-width: 767px) {
    &__container {
      max-width: 540px;
      padding: 0 10px;
    }
    &__title {
      font-weight: 900;
      color: #000000;
      font-size: 45px;
      line-height: 108.4%;
    }
  }
}


//@media (max-width: 1700px) {}
//@media (max-width: 1400px) {}
//@media (max-width: 1199px) {}
//@media (max-width: 991px) {}
//@media (max-width: 767px) {}
//@media (max-width: 575px) {}
//@media (max-width: 480px) {}

