.land {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  overflow: hidden;
  &__anchor {
    padding-top: 100px;
    margin-top: -100px;
  }
  &__title {
    font-weight: 900;
    color: #000000;
    font-size: 120px;
    line-height: 108.4%;
    white-space: pre-line;
  }
  &__preface {
    font-weight: bold;
    color: rgba($grey, .5);
    font-size: 18px;
  }
  &__sub {
    font-weight: 600;
    font-size: 25px;
    color: $grey;
    line-height: 159.4%;
  }
  &__text {
    font-size: 18px;
    color: $grey;
    font-weight: normal;
    line-height: 185.9%;
  }
  &__container {
    position: relative;
    width: 100%;
    max-width: 1660px;
  }
  @media (max-width: 1700px) {
    &__container {
      max-width: 1300px;
    }
  }
  @media (max-width: 1400px) {
    &__container {
      max-width: 1140px;
    }
  }
  @media (max-width: 1199px) {
    &__container {
      max-width: 960px;
    }
    &__title {
      font-weight: 900;
      color: #000000;
      font-size: 80px;
      line-height: 108.4%;
    }
  }
  @media (max-width: 991px) {
    &__container {
      max-width: 720px;
    }
  }
  @media (max-width: 767px) {
    &__preface {
      font-size: 15px;
    }
    &__sub {
      font-size: 17px;
    }
    &__text {
      font-size: 15px;
    }
    &__container {
      max-width: 540px;
      padding: 0 10px;
    }
    &__title {
      font-weight: 900;
      color: #000000;
      font-size: 45px;
      line-height: 108.4%;
    }
  }
}


//@media (max-width: 1700px) {}
//@media (max-width: 1400px) {}
//@media (max-width: 1199px) {}
//@media (max-width: 991px) {}
//@media (max-width: 767px) {}
//@media (max-width: 575px) {}
//@media (max-width: 480px) {}

