.modal-content {
  border: none;
  border-radius: 13px;
}

.modal-body {
  padding: 0;
  position: relative;
}

.mod {
  margin: 30px;
  &__closs {
    padding: 10px;
    margin: -10px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
  }
  &__item {
    margin: 0 0 2px;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    @include btn;
    @include btn-yellow;
  }
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 0;
    max-width: 100% !important;
    width: 100%;
  }
  .modal-dialog-centered {
    height: 100%;
  }
  .modal-body {

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    background: #FFF;
    position: fixed;
    bottom: -30px;
    left: 0;
    right: 0;
    max-height: 80%;
    overflow: scroll;
  }
  .mod {
    margin-bottom: 60px;
  }
}

