.modal-content {
  border: none;
  border-radius: 13px;
}

.modal-body {
  padding: 0;
  position: relative;
}

.mod {
  margin: 30px;
  &__closs {
    padding: 10px;
    margin: -10px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
  }
  &__item {
    margin: 0 0 2px;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    @include btn;
    @include btn-yellow;
  }
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 0;
    max-width: 100% !important;
    width: 100%;
  }
  .modal-dialog-centered {
    height: 100%;
  }
  .modal-body {

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    background: #FFF;
    position: fixed;
    bottom: -50px;
    left: 0;
    right: 0;
    max-height: 80%;
    overflow: scroll;
  }
  .mod {
    margin-bottom: 80px;
  }
}



.modal-dialog {
  max-width: 572px;
}

.mod {
  &__head {
    margin: 0 0 40px;
  }
  &__text {
    font-size: 16px;
    color: $grey;
    opacity: 0.4;
    margin: 0 0 3px;
  }
  &__balance {
    font-weight: 800;
    font-size: 50px;
    color: #000;
    margin: 0 0 10px;
  }
  &__items {
    margin: 0 0 25px;
  }
}

@media (max-width: 767px) {
  .mod {
    &__balance {
      font-size: 40px;
      margin: 0 0 20px;
    }
  }
}
