@import './reset';

@import './bootstrap/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@import 'form.scss';

@include input;

body {
  color: #000;
  font-family: $raleway;

}

.modal-content {
  border: none;
}

.modal-body {
  padding: 0;
}


.cont-console {
  display: flex;
  background: $grey-bg;
  height: 100vh;

  &__main {
    width: 100%;
    overflow: overlay;
  }
}

.custom-date-picker {
  width: initial !important;
  color: initial !important;
  font-family: $raleway !important;

  .mx-input:hover, .mx-input:focus {
    border-color: $yellow;
  }

  .mx-input {
    color: initial !important;
    cursor: pointer;
  }
  .mx-btn {
    color: initial;
    &:hover {
      color: initial;
    }
  }

  .mx-table-date .today {
    color: rgba(#000, .6);
  }

  .mx-calendar-panel-date:nth-child(2) {
    display: none !important;
  }
  .mx-calendar-content {
    .cell:hover {
      background: rgba($yellow, .1);
      color: initial;
    }
    .cell.in-range {
      background: rgba($yellow, .2);
      color: initial;

    }
    .cell.active {
      background: rgba($yellow, 1);
      color: initial;
    }
  }
}









@media (max-width: 1599px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 479px) {}
@media (max-width: 399px) {}
