@import './reset';

@import './bootstrap/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@import 'form.scss';
@import 'customDatePicker.scss';
@import 'modal.scss';

@include input;

body {
  color: #000;
  font-family: $raleway;

}

.modal-content {
  border: none;
  border-radius: 13px;
}

.modal-body {
  padding: 0;
}

.cont-console {
  display: flex;
  background: $grey-bg;
  height: 100vh;

  &__main {
    width: 100%;
    overflow: overlay;
  }
}










@media (max-width: 1599px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 479px) {}
@media (max-width: 399px) {}
