@import './reset';

@import './bootstrap/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@import 'form.scss';
@import 'customDatePicker.scss';
@import 'modal.scss';

@include input;

@font-face {
  font-family: Raleway;
  font-weight: normal;
  src: url(~assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url(~assets/fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url(~assets/fonts/Raleway-Bold.ttf);
}

body {
  color: #000;
  font-family: 'Raleway';
  background: $grey-bg;

}

.loader__body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  display: none;
  &_show {
    display: flex;
  }
}

.cont-console {
  display: flex;
  height: 100vh;

  &__menu {
    min-width: 323px;
  }
  &__main {
    width: 100%;
    //overflow: overlay;
  }
}

.form__er {
  height: 18px;
  font-size: 12px;
  color: #db2c2c;
}



.dd {
  .b-dropdown {
    background: #FFF;
    width: 100%;

    display: flex;
    align-items: center;

    &:hover {
      border-color: #000;
    }
  }
  .dropdown-toggle {
    border-radius: 15px;
    padding: 0 17px 0 20px;
    height: 44px;
    border: 1px solid $stroke;
    color: rgba($grey, .5);
    transition: .2s;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &:after {
      width: 10px;
      height: 8px;
      border: none;
      margin: 0;
      background: url(~assets/imgs/icons/arrow_dd.svg) no-repeat;
      background-position: center center;
    }

  }
  .show .dropdown-toggle, .dropdown-toggle:hover {
    color: #000;
    border-color: #000;
  }
  .dropdown-menu {
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0px 6px 10px rgba(27, 26, 25, 0.1);
  }
  .dropdown-item.active, .dropdown-item:active {
    background: $yellow;
    color: #000;
  }
}







@media (max-width: 1599px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 479px) {}
@media (max-width: 399px) {}
