@mixin input {
  .ui-input {
    &__body {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .btn-max {
    position: absolute;
    right: 7px;
    height: 30px;
    background: $yellow;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 0 7px;
    cursor: pointer;
  }
  .btn-max__p input {
    padding-right: 47px;
  }

  .info {
    position: absolute;
    right: 5px;
    cursor: pointer;
    img {
      padding: 4px 10px;
    }
  }
  .info__p input {
    padding-right: 40px;
  }
  .qr {
    position: absolute;
    right: 7px;
    padding: 7px;
    cursor: pointer;
  }
  .qr__p input {
    padding-right: 47px;
  }

  .password-hide {
    position: absolute;
    right: 5px;
    padding: 0 7px;
    cursor: pointer;
  }
  .password-hide__p input {
    padding-right: 49px;
  }

  input {
    background: #FFF;
    width: 100%;
    border-radius: 15px;
    padding: 0 20px;
    height: 44px;
    border: 1px solid $stroke;
    transition: .2s;
    &::placeholder {
      color: rgba($grey, .5);
      transition: .2s;
    }
    &:focus, &:hover {
      border-color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }
}

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@mixin btn-yellow {
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  background: $yellow;
  height: 56px;
  padding: 0 55px;
}
