.mod {
  margin: 30px;
  &__closs {
    padding: 10px;
    margin: -10px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
  }
  &__item {
    margin: 0 0 2px;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    @include btn;
    @include btn-yellow;
  }
}

@media (max-width: 575px) {
  .modal-dialog {
    max-width: initial;
  }
}
