.pro {
  display: flex;
  //padding: 0 50px 50px;
  &__items {
    width: 100%;
  }
  &__item {
    background: #FFFFFF;
    border-radius: 13px;
    padding: 30px;
  }
  .change-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-weight: bold;
      font-size: 18px;
      color: #000000;
      margin: 0 20px 0 0;
    }
    .btn {
      @include btn-yellow;
    }
  }
  .tfa {
    width: 100%;
    margin: 0 0 20px;
    &__title {
      color: #000000;
      font-weight: bold;
      font-size: 22px;
      margin: 0 0 57px;
    }
    &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__items {
      display: flex;
      align-items: center;
    }
    &__item {
      display: flex;
      align-items: center;
      margin: 0 30px 0 0;
      //&:first-child {
      //  margin: 0 30px 0 0;
      //}
    }
    &__text {
      margin: 0 0 0 20px;
    }
    &__main {
      font-weight: bold;
      font-size: 18px;
      margin: 0 0 5px;
    }
    &__sub {
      opacity: 0.4;
    }
    &__sub_green {
      opacity: 1;
      color: #27AE60;
    }
    .btn {
      @include btn-yellow;
    }
    .btn-out {
      @include btn-yellow-out;
    }
  }
  .user {
    min-width: 612px;
    margin: 0 20px 0 0;
    position: relative;
    .ava {
      width: 127px;
      height: 127px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 13px;
      /* background-image: url(~assets/imgs/ava.png); */
      background-size: cover;
      background-position: center center;
    }
    .header {
      position: relative;
      border-bottom: 1px solid $stroke;
      padding: 0 0 30px;
      margin: 0 0 30px;
      &__ava {
        position: relative;
        &:hover {
          .header__change {
            opacity: 1;
          }
        }
      }
      &__change {
        position: absolute;
        bottom: 8px;
        right: 8px;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: $stroke;
        width: 30px;
        height: 30px;
        transition: .3s;
        &:hover {
          background: rgba(#000, .8);
        }
        img {
          width: 12px;
        }
      }
      &__body {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding: 82px 0 0 20px;
      }
      &__name {
        position: relative;
        margin: 0 0 6px 24px;
      }
      &__main {
        color: #000000;
        font-weight: bold;
        font-size: 25px;
        margin: 0 0 5px;
      }
      &__sub {
        color: $grey;
        font-size: 14px;
      }
      &__shape {
        position: absolute;
        width: 100%;
        height: 127px;
        border-radius: 13px;
        background: $yellow-gradient;
      }
    }
    &__items {
      margin: 0 0 35px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      input {
        color: rgba($grey, .5);
        font-weight: normal;
        &:focus, &:hover {
          color: #000;
        }
      }
      &:not(:last-child) {
        margin: 0 0 10px;
      }
    }
    &__title {
      color: #000000;
      font-size: 16px;
      margin: 0 0 10px;
    }
    &__value {
      margin: 0 0 0 20px;
      color: $grey;
      opacity: 0.5;
    }
    .btns {
      display: flex;
      justify-content: space-between;
    }
    .btn {
      width: 45%;
      &:first-child {
        @include btn;
        @include btn_out;
        //margin: 0 60px 0 0;
      }
      &:last-child {
        @include btn;
        @include btn-yellow;
      }
    }
    &__loader {
      @include loader-body;
      &_show {
        display: flex;
      }
    }
    &_disable {
      .user__item {
        input {
          border-color: transparent;
          cursor: default;
          &:focus, &:hover {
            color: rgba($grey, .5);
          }
        }
      }
    }
  }
  @media (max-width: 1799px) {
    .tfa {
      &__items{
        width: 100%;
        margin: 0 0 30px;
      }
      .btn {
        margin: 0 0 0 auto;
      }
      &__body {
        flex-direction: column;
      }
    }
  }
  //@media (max-width: 1499px) {
  //  padding: 50px;
  //}
  @media (max-width: 1199px) {
    .tfa {
      &__items {
        flex-direction: column;
        align-items: flex-start;
      }
      &__item {
        &:not(:last-child) {
          margin: 0 0 17px;
        }
        &:last-child {
          margin: 0 0 0 40px;
        }
      }
    }
    .change-pass {
      flex-direction: column;
      align-items: flex-start;
      &__title {
        margin: 0 0 33px;
      }
      .btn {
        margin: 0 0 0 auto;
      }
    }
    .user {
      min-width: initial;
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    //padding: 20px;
    flex-direction: column;
    .user {
      margin: 0 0 20px;
    }
    .tfa {
      &__text {
        margin: 0 0 0 12px;
      }
    }
  }
  @media (max-width: 575px) {
    .user {
      .header {
        &__main {
          font-size: 18px;
          word-break: break-word;
        }
        &__body {
          padding: 0;
          align-items: center;
        }
        &__shape {
          display: none;
        }
        &__name {
          margin: 0 0 0 12px;
        }
        &__sub {
          word-break: break-all;
        }
      }
      .ava {
        width: 66px;
        height: 66px;
      }
      .btn {
        //width: initial;
        padding: 0 30px !important;
        &:first-child {
          margin: 0;
          padding: 0 15px !important;
        }
      }
    }
    .tfa, .change-pass {
      .btn {
        width: 100%;
      }
    }
  }
}
